# Игнорировать временные файлы
*.tmp

# Игнорировать каталоги сборки
/build/

# Игнорировать файлы настроек PyCharm
.idea/
# Игнорировать каталоги с кешем
/cache/

# Игнорировать временные файлы
*.bak
# Игнорировать файлы временных копий редакторов
*~

# Игнорировать каталоги с временными файлами
.tmp/
